<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Plugin Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="WP_TESTS_DIR" value="/tmp/wordpress-tests-lib" />
        <env name="WP_TESTS_DOMAIN" value="example.org" />
        <env name="WP_TESTS_EMAIL" value="admin@example.org" />
        <env name="WP_TESTS_TITLE" value="Test Blog" />
        <env name="WP_PHP_BINARY" value="php" />
        <env name="DB_NAME" value="wordpress_test" />
        <env name="DB_USER" value="root" />
        <env name="DB_PASSWORD" value="root" />
        <env name="DB_HOST" value="127.0.0.1" />
    </php>
</phpunit>
